@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  align-items: center;
  padding: 0px 10%;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 20px;
}
a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 100px 10%;
  gap: 50px;
}
.hero-image {
  width: 600px;
  height: 200px;
  flex: auto;
}
.hero-left h1 {
  margin: 0px;
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  flex-wrap: wrap;
}
.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left button {
  background-color: #3882f6;
  border-style: none;
  color: white;
  border-radius: 7px;
  width: 120px;
  height: 40px;
  font-size: 20px;
}
.hero-right img {
  flex: auto;
  width: 500px;
  height: 250px;
}
